.posthWrap {
  position: relative;
  overflow: hidden;
  width: 75%;
  margin: 0 auto !important;
  z-index: 100;
}
.posthWrap .postList {
  margin-bottom: 32px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
.posthWrap .postList .postListHeader {
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
}
.posthWrap .postList .postListHeader > p {
  padding-top: 16px;
  font-size: 20px;
}
.posthWrap .postList .postListHeader .postInfo {
  overflow: hidden;
  padding: 5px 0px 16px;
  line-height: 32px;
}
.posthWrap .postList .postListHeader .postInfo span {
  display: inline-block;
  line-height: 32px;
}
.posthWrap .postList .postListHeader .postDate {
  float: right;
}
.posthWrap .postList .postListBody {
  overflow: auto;
  height: 350px;
  padding: 16px;
}
.posthWrap .postList .postListfooter {
  overflow: hidden;
  padding: 8px 16px;
  border-top: 1px solid #ddd;
}
