.postWrap {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto !important;
}
.postWrap .postList {
  margin-bottom: 32px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
.postWrap .postList .postListHeader {
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
}
.postWrap .postList .postListHeader .postListTitle {
  padding-top: 16px;
  font-size: 20px;
}
.postWrap .postList .postListHeader .postListTitle .postMenuBtn {
  position: relative;
  float: right;
  cursor: pointer;
}
.postWrap .postList .postListHeader .postListTitle .postMenuBtn .postMenu {
  display: none;
  position: absolute;
  bottom: -70px;
  left: -30px;
  width: 50px;
  background: #000;
  border-radius: 5px;
}
.postWrap
  .postList
  .postListHeader
  .postListTitle
  .postMenuBtn:hover
  .postMenu {
  display: block;
}
.postWrap .postList .postListHeader .postListTitle .postMenuBtn .postMenu span {
  display: block;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.postWrap
  .postList
  .postListHeader
  .postListTitle
  .postMenuBtn
  .postMenu
  span:hover {
  text-decoration: underline #fff;
}
.postWrap .postList .postListHeader .postInfo {
  overflow: hidden;
  padding: 5px 0px 16px;
  line-height: 32px;
}
.postWrap .postList .postListHeader .postInfo span {
  display: inline-block;
  line-height: 30px;
}
.postWrap .postList .postListHeader .postDate {
  float: right;
}
.postWrap .postList .postListBody {
  overflow: auto;
  height: 350px;
  padding: 16px;
}
.postWrap .postList .postListfooter {
  overflow: hidden;
  padding: 8px 16px;
  border-top: 1px solid #ddd;
}
