@keyframes loading {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.loadingBarWrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000000000;
}

.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #40a9ff;
  animation-duration: 2s;
  animation-name: loading;
  z-index: 10000000000;
}
