header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(170, 170, 170, 0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(170, 170, 170, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(170, 170, 170, 0.4);
  z-index: 1000;
}
header > div {
  cursor: pointer;
}
header .LeftBtn {
  float: left;
  width: 150px;
  height: 100%;
  border-right: 1px solid #ddd;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  line-height: 3.7;
}
header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}
header .loginWrap {
  position: absolute;
  top: 0;
  right: 210px;
  height: 100%;
}
header .loginWrap > div {
  float: left;
  height: 100%;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  line-height: 5.4;
}
header .loginWrap .registor::after {
  content: "/";
  padding: 5px;
}
header .postBtn {
  float: right;
  width: 250px;
  height: 100%;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  line-height: 3.7;
  color: #fff;
  background: #000;
}
header .postBtn a {
  display: inline-block;
  width: 100%;
  left: 100%;
}

.postHeader .backBtn {
  float: left;
  margin: 24px 16px;
}
.postHeader input {
  float: left;
  width: 60%;
  margin: 16px 0;
  border: none;
  font-size: 30px;
}
