<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../resources/css/main.css">
<script type="text/javascript" src="../resources/js/main.js"></script>
</head>
<body>
    <div id="container">
        <section class="title">
            <h1>TO DO LIST</h1>
        </section>
        <section id="write_sec">
            <div id="newTodo">
                <h3>To Do List 작성</h3>
                <ul>
                    <li>
                        <label class="todoLabel" for="todo">할일</label>
                        <input type="text" id="todo" name="todo">
                    </li>
                    <li>
                        <label class="todoLabel" for="fromDate">시작일</label>
                        <input type="date" id="fromDate" name="fromDate">
                    </li>
                    <li>
                        <label class="todoLabel" for="toDate">종료일</label>
                        <input type="date" id="toDate" name="toDate">
                    </li>
                </ul>
                <div class="buttons">
                    <input type="button" id="insert" value="저장">
                </div>
            </div>
        </section>
        <section id="button_sec">
            <div class="buttons">
                <input type="button" id="update" value="수정">
                <input type="button" id="delete" value="삭제">
                <input type="button" id="complete" value="완료">
                <input type="button" id="clear" value="전체지우기">
            </div>
        </section>
        <section id="list_sec">
            <div id="divTable">
                <div class="th">
                    <div class="check">-</div>
                    <div class="todo">할일</div>
                    <div class="fromDate">시작일</div>
                    <div class="toDate">종료일</div>
                </div>
                <div id="todoList"></div>
            </div>
        </section>
    </div>
</body>
</html>