.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.modalWrap.hidden {
  display: none;
}
.modalWrap .modal {
  width: 50%;
  margin: 10% auto;
  padding: 16px;
  background: #fff;
  border-radius: 10px;
}
.modalWrap .modal .modalHeader {
  border-bottom: 1px solid #ddd;
}
.modalWrap .modal .modalHeader .modalClose {
  float: right;
  margin-top: 3px;
  font-size: 16px;
  cursor: pointer;
}
.modalWrap .modal .modalBody {
  padding: 10px 0;
}

.modalWrap .modal .loginBtn > div {
  width: 222px;
  height: 49px;
  margin: 10px auto;
  font-size: 16px;
  text-align: center;
  line-height: 49px;
  border-radius: 5px;
}
.modalWrap .modal .google-login-btn {
  background: #4285f4;
  color: #fff;
}
.modalWrap .modal .github-login-btn {
  background: #e9ecef;
}
