.userInfo {
  margin: 80px 0 30px;
  font-size: 25px;
  text-align: center;
}
.userInfo > p {
  margin: 10px 0;
  font-size: 20px;
}
.menuList {
  margin: 50px 0;
}
.menuList li {
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.menuList li:hover {
  color: #40a9ff;
}
.catImg {
  width: 40px;
  height: 40px;
  margin: 20px auto;
  background-image: url("/static/images/iconmonstr-cat-1-96.png");
  background-size: cover;
}
.menuFooter {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}
.menuFooter .catImg {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background-image: url("/static/images/iconmonstr-cat-1-96.png");
  background-size: cover;
}
.menuFooter h3 {
  font-size: 18px;
  cursor: pointer;
}

.menuFooter .gitHub p {
  margin: 30px 0 5px;
  font-size: 20px;
  font-weight: bold;
}
.menuFooter ul {
  overflow: hidden;
  width: 134px;
  margin: 0 auto;
}
.menuFooter li {
  float: left;
  cursor: pointer;
}
