<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../resources/css/main.css">
<script src="../resources/js/main.js" type="module"></script>
<script src="../resources/js/polyfill.js"></script>
</head>
<body>
    <div id="input_container">
        <div>
            <h1>TODO-LIST</h1>
            <form name='todo_form'>
                <div>
                    <div>
                        <span>할일&nbsp</span>
                        <input type="text" name="todo" data-type="todo"/>
                    </div>
                    <div>
                        <span>시작일&nbsp</span>
                        <input type="date" name="start" data-type="start"/>
                    </div>
                    <div>
                        <span>종료일&nbsp</span>
                        <input type="date" name="end" data-type="end"/>
                    </div>
                </div>
            </form>
            <div id="submit_cont">
                <button id="submit_todo" class="add">입력</button>
            </div>
        </div>
    </div>
    <div id="todo_list">
        <table id="todo_container">
            <tr id="todo_header">
                <th>할일</th>
                <th>시작일</th>
                <th>종료일</th>
            </tr>
            
            <!-- Dynamic append -->
        </table>
    </div>
</body>
</html>