@charset "UTF-8";
/* body, 타이포그래피 등 기본 스타일 설정 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400|Rajdhani:400,700");

body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

/* box-sizing 일괄 설정 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 링크 스타일 밑줄 및 색상 무효화 */
a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: 0;
}

p {
  margin: 0;
}

#__next {
  min-height: 100%;
}

.contentsWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100% - 80px);
  margin-top: 80px;
}
.postWrap {
  background-size: cover;
  background-repeat: no-repeat;
}
.postWrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
